/* style.css */
.tile1 {
    background-color: rgb(247, 182, 223);
    color: rgb(255, 0, 111);
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

.tile2 {
    background-color: rgb(141, 192, 255);
    color: rgb(102, 0, 255);
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 200px;
    /* アイテムは伸縮可能で、基本的には200pxの幅を持つ */
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .item {
        flex: none;
        /* モバイルデバイスではアイテムを縦並びにする */
    }

    body {
        font-size: 20px;
    }
}